## Filter for Latin America Countries
List of the countries include:

#### South America
Brazil
Colombia
Argentina
Peru
Venezuela
Chile
Ecucator
Bolivia
Paraguary
Uruguary
Guyana
Suriname

#### Central America
Belize
Costa Rica
El Salvador
Guatemala
Honduras
Mexico
Nicaragua
Panama

#### Caribbean (Not include dependent territories)
Antigua and Barbuda
Bahamas
Barbados
Cuba
Dominica
Docinican Republic
Grenada
Haiti
Jamaica
Saint Kitts and Navis
Saint Lucia
Saint Vincent and the Grenadines
Trinidada and Tobago

In [1]:
#-- Import Dependencies
import pandas as pd
from sqlalchemy import create_engine
import pymysql

pymysql.install_as_MySQLdb()

from secrets import mysqlpassword


#- Variables
rawDbName = 'LatinAmericaHappiness_Raw'

In [2]:
#-- Open Connection

#- Create Connection String
rds_connection_string = f"root:{mysqlpassword}@127.0.0.1/{rawDbName}"

#- Create Connection
engine = create_engine(f'mysql://{rds_connection_string}')

#- Display Message
print(f"Completed creating connection to database: {rawDbName}")

Completed creating connection to database: LatinAmericaHappiness_Raw

## Lookup Table
Create lookup table within the RAW database that is to be used for filtering data

In [3]:
#- Create DataFrame with country information

#- South America
countriesSouthAmerica = [
    'Brazil',
    'Colombia',
    'Argentina',
    'Peru',
    'Venezuela',
    'Chile',
    'Ecucator',
    'Bolivia',
    'Paraguary',
    'Uruguary',
    'Guyana',
    'Suriname'
    ]


#- Central America
countriesCentralAmerica = [
    'Belize',
    'Costa Rica',
    'El Salvador',
    'Guatemala',
    'Honduras',
    'Mexico',
    'Nicaragua',
    'Panama'
    ]


#- Caribbean
countriesCaribbean = [
    'Antigua and Barbuda',
    'Bahamas',
    'Barbados',
    'Cuba',
    'Dominica',
    'Docinican Republic',
    'Grenada',
    'Haiti',
    'Jamaica',
    'Saint Kitts and Navis',
    'Saint Lucia',
    'Saint Vincent and the Grenadines',
    'Trinidada and Tobago',   
    ]


#-- Create List for DataFrame
allCountries = []
allRegions = []

for country in countriesSouthAmerica:
    allCountries.append(country)
    allRegions.append('South America')

for country in countriesCentralAmerica:
    allCountries.append(country)
    allRegions.append('Central America')

for country in countriesCaribbean:
    allCountries.append(country)
    allRegions.append('Caribbean')
    

#-- Create Data Frame
sourceCountry = {
    "Country": allCountries,
    "Region" : allRegions
    }

sourceCountry_df = pd.DataFrame(sourceCountry)

sourceCountry_df.head()

     Country         Region
0     Brazil  South America
1   Colombia  South America
2  Argentina  South America
3       Peru  South America
4  Venezuela  South America

In [4]:
#-- Create table in MySQL
tableName = "StudyCountry"

sourceCountry_df.to_sql(name= tableName,
                          con = engine,
                          if_exists='replace',
                          index= False)

print(f"Completed loading table with countries; {tableName}")

Completed loading table with countries; StudyCountry