In [2]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
import os
from secrets import mysqlpassword

Extract CSVs into DataFrames

In [3]:
happiness_file = "/Users/robertsayler/Desktop/new_etl_project/ETL_Project/2016.csv"
#/Users/robertsayler/Desktop/new_etl_project/ETL_Project/data/World_Happiness2016.csv
source_file = os.path.join(".","data","World_Happiness2016.csv")
happiness_df = pd.read_csv(source_file)
happiness_df.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [4]:
new_happiness_df = happiness_df[['Country', 'Region', 'Happiness Rank', 'Happiness Rank']]
new_happiness_df.head()

       Country          Region  Happiness Rank  Happiness Rank
0      Denmark  Western Europe               1               1
1  Switzerland  Western Europe               2               2
2      Iceland  Western Europe               3               3
3       Norway  Western Europe               4               4
4      Finland  Western Europe               5               5

Create database connection

In [5]:
#connection_string = "robertsayler@gmail.com:z7SSFub5bG8D9Jq@127.0.0.1/customer_db"
rawDbName = "LatinAmericaHappiness_Raw"
rds_connection_string = f"root:{mysqlpassword}@127.0.0.1/{rawDbName}"
engine = create_engine(f'mysql://{rds_connection_string}')

In [6]:
engine.table_names()

['Gallup_World_Happiness']

In [7]:
table_name = "Gallup_World_Happiness"

happiness_df.to_sql(name=table_name,
                       con =engine,
                       if_exists='replace',
                       index=False)
print(table_name)

Gallup_World_Happiness